html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
    max-width: 1400px;      /* or any width you prefer */
    margin: 0 auto;        /* centers the body horizontally */
    padding: 20px;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active{
    color: #eee;
}

table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: .5rem;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.player-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.player-text {
  flex: 1;
}